<section>
<%= form_with model: @categorie ,class: 'form', url: user_categories_path do |f| %>
<%= render partial:'shared/navbar',
locals: {lbutton: "back.svg", back_path: :back, title: "New Category", form: f, button: "Save"} %>

           <div class="field">
             <%= f.text_field :name, value: @categorie.name, placeholder: "Enter Category Name", required: true%>
           </div>
           <div class="field">
               <%= f.select :icon, ["ðŸ‘”","ðŸŽµ","ðŸŽ‰","ðŸŽ","ðŸ¼","ðŸ ", "ðŸ¶", "ðŸ»", "ðŸ”"], value: @categorie.icon, required: true%>
           </div>
<% end %>
</section>
